body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.4em;
    margin: 0;
    background: rgb(255, 245, 198);
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    line-height: 1.3em;
  }
  
  p {
    margin-bottom: 1.6em;
    text-align: justify;
  }
  
  .container {
    width: 85%;
    max-width: 850%;
    margin: 0 auto;
  }
  
  .header {
    background: #333;
    color: white;
    padding: 2rem 0;
  }
  
  .header a {
    color: white;
    text-decoration: none;
    align-items: center;
  }
  
  .logo-nav-container {
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    letter-spacing: 15px;
    font-size: 1.3em;
  }
  
  .navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .navigation ul li {
    display: inline-block;
  }
  
  .navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
  }
  
  .navigation ul li a:hover {
    background: rgb(188, 192, 240);
  }
  
  footer {
    background: #333;
  }
  
  footer .container {
    padding: 3px;
    color: white;
  }
  
  footer .container p {
    text-align: center;
  }

  .imagen{
      text-align: center;
  }